:root {
  --background: #fff;
  --text: #222;
  --primary: #012326;
  --secondary: #083a40;
  --warning: #a6432d;
  --subtle: #736565;
  --light: #bfbfbf;
  --border-default: 1px solid;
  --font-sm: 12px;
  --font-md: 16px;
  --font-large: 24px;
  --font-xlarge: 36px;
  --spacing-none: 0px;
  --spacing-sm: 4px;
  --spacing-regular: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 48px;
  --shadow-default: 10px 9px 33px -17px rgba(0, 0, 0, 0.75);
  --radius-default: 5px;
}
